:root {
  --color-brand: #e01d3f;
}

/* Header Styles */
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff; /* Assuming you want a white background */
  border-bottom: 3px solid var(--color-brand);
}

.App-header img {
  max-width: 100%;
  height: auto;
}

/* Body Styles */
.App-body {
  margin: 50px;
}

/* Footer Styles */
.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff; /* Assuming you want a white background */
  border-top: 3px solid var(--color-brand);
  text-align: center;
  font-style: italic;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .App-header, .App-footer {
    padding: 10px;
  }

  .App-body {
    margin: 20px;
  }
}